*,html{font-family: Arial, Helvetica, sans-serif;}
.bg-blue{background: #153863;}
.animation-center{  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/ /*if we only want this item to be smack center*/
 }
.loading-text{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    top: -50px;
    position: relative;
    font-style: italic;
}